###> jetbrais ###
.idea/
###< jetbrains ###

###> projects ###
www/
###< projects ###

###> docker mysql volume ###
.mysql-data/
###< jetbrains ###

###> ssh-keys ###
webserver/.ssh
###< ssh-keys  ###

###> ssl-certs ###
webserver/ssl
###< ssl-certs   ###